.handRoot {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 100%;
  background-color: var(--custom-dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.handTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--custom-white);
}

.handRoot .cardsTrioImage {
  width: 20px;
  height: 20px;
}

.handCards {
  display: flex;
  flex-direction: row; 
  align-items: center; 
  justify-content: flex-start; 
  gap: 20px;
  height: 80%; 
  width: 100%; 
  overflow-x: auto; 
  overflow-y: hidden; 
  padding: 10px; 
}