
.defaultButton {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.defaultButton:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}






.battleButton {
  background-color: #ff0000;
  color: white;
  font-size: 150.5%; 
  font-weight: bold;
  border: 2px solid #cc0000; 
  border-radius: 50%; 
  width: 100%; 
  height: 100%;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  position: relative;
  outline: none;
  box-shadow: 0 0 10px #ff4d4d, 0 0 20px #ff0000, 0 0 30px #b30000;
}

.battleButton:hover {
  box-shadow: 0 0 15px #ff6666, 0 0 30px #ff0000, 0 0 45px #b30000;
}

.battleButton:active {
  transform: scale(0.95);
  box-shadow: 0 0 5px #ff4d4d, 0 0 10px #ff0000, 0 0 15px #b30000;
}

.battleButton:disabled {
  background-color: #a6a6a6; 
  border: 2px solid #8c8c8c;
  box-shadow: none;
  cursor: not-allowed;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px #ff4d4d, 0 0 20px #ff0000, 0 0 30px #b30000;
  }
  50% {
    box-shadow: 0 0 20px #ff6666, 0 0 40px #ff0000, 0 0 60px #b30000;
  }
  100% {
    box-shadow: 0 0 10px #ff4d4d, 0 0 20px #ff0000, 0 0 30px #b30000;
  }
}

.battleButton.glow {
  animation: glow 1.5s infinite alternate;
}
