
.defaultButton {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.defaultButton:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}


.battleButton {
  background-color: #e10000;
  color: var(--custom-white);
  font-size: 30px; 
  font-weight: bold;
  border: 2px solid #cc0000;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 0.15s ease, box-shadow 0.15s ease, font-size 0.2s ease; /* Added font-size transition */
  position: relative;
  outline: none;
  box-shadow: 4px 4px 8px #000000, 8px 8px 12px rgba(0, 0, 0, 0.5); 
}

.battleButton:hover {
  font-size: 32px; /* Slightly larger font size on hover */
}

.battleButton:active {
  transform: scale(.98); 
  box-shadow: none; 
}

.battleButton:disabled {
  background-color: #a6a6a6;
  border: 2px solid #8c8c8c;
  box-shadow: none;
  cursor: not-allowed;
}
