.profileRoot {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: var(--custom-dark-blue);
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  gap: 40px;
}

.featureDeckWrapper, .friendsContainer {
  height: 80vh;
}

.featureDeckWrapper {
  flex: 2;
}

.friendsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 40px;
  flex: 1;
}

.friendsWrapper, .incomingFriendRequestsWrapper, .sendFriendRequestWrapper {
  background-color: var(--custom-white);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.friendsWrapper, .incomingFriendRequestsWrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.friendsWrapper {
  width: 100%;
  flex: 2;
}

.incomingFriendRequestsWrapper {
  width: 100%;
  flex:1;
}

.sendFriendRequestWrapper {
  width: 100%;
  flex:.2;
  padding: 10px;
}
