.popupRoot {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popupContentWrapper {
  display: flex;
  flex-direction: column;
}

.closePopupButton {
  align-self: flex-end;
  color: var(--custom-white);
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  transition: color 0.2s ease;
}

.closePopupButton:hover {
  color: #f44336;
}
