.packRoot {
    position: relative;
    aspect-ratio: 63.7/100;
    container-type: inline-size;
}

.packImage {
    width: 100%;    
    height: 100%;
    display: block;
}

.packName {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
    font-size: 7cqw;
    color: white;
    padding: 5px;
    white-space: nowrap;
}
