@font-face {
  font-family: 'robotoRegular';
  src: url('/src/assets/fonts/Roboto-Regular.ttf') format('truetype'); 
  font-weight:bold;  
  font-style: normal;   
} 

.descriptionRoot {
  border: 1px solid var(--border-color);
  display: flex;               
  justify-content: center;   
  align-items: center;   
  text-align: center;      
  position: relative;
  width: 93%;
  height: 23%;
  font-size: 10px;
  background-color: rgb(235, 229, 222);
  font-family: 'robotoRegular'; 
}


