.descriptionRoot {
  display: flex;   
  width: 93%;
  border: .5cqw solid var(--border-color);
  justify-content: center;   
  align-items: center;   
  text-align: center;      
  font-size: 4.2cqw;
  background-color: rgb(235, 229, 222);
  font-family: 'robotoRegular'; 
  box-sizing: content-box;
}

.descriptionRoot.critter {
  height: 23%;
}

.descriptionRoot.item {
  margin:auto;
  height: 30%;
}


