.footerRoot {
  width: 120px; 
  height: 35px;
  /* padding: 10px; */
  /* background-color: #888888;  */
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  
  clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 20% 100%);
}
/* 
.health, .damage {
  color: white;
  font-size: 16px;
} */
