.footerRoot {
  width: 60cqw;
  height: 18cqw;
  background-color: var(--background-inner-color-rare);
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 20% 100%);
}

.footerRoot.COMMON {
  background-color: var(--background-inner-color-common);
}
.footerRoot.UNCOMMON {
  background-color: var(--background-inner-color-uncommon);
}
.footerRoot.RARE {
  background-color: var(--background-inner-color-rare);
}
.footerRoot.EPIC {
  background-color: var(--background-inner-color-epic);
}
.footerRoot.LEGENDARY {
  background-color: var(--background-inner-color-legendary);
}

.hp,
.damage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  font-size: 8cqw;
  font-family: "robotoRegular", sans-serif;
  gap: 0%;
}

.damage {
  margin-right: 16%;
}

.hp {
  margin-left: 19%;
}

.hpImage {
  width: 40%;
  height: auto;
}

.swordImage {
  width: 28%;
  height: auto;
}
