.dropdown {
  position: relative;
  display: inline-block;
}

.filterButton {
  background-color: transparent; 
  border: none; 
  cursor: pointer; 
  padding: 0;
  outline: none; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.filterIconContainer {
  width: 32px;
  height: 32px;
  border-radius: 100px;
  overflow: hidden;
}

.filterIcon {
  width: 100%;
  height: 100%;
  border-radius: 100px;
  object-fit: cover;
}

.filterButton:hover .filterIcon,
.filterButton:focus .filterIcon {
  transform: scale(1.1);
  filter: brightness(1.2); 
}

.dropdownMenu {
  display: block;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
  margin-top: 8px;
  padding: 10px;
}
.filterOption {
  display: block;
  padding: 8px;
  cursor: pointer;
}

.filterOption input {
  margin-right: 10px;
}

.filterOption:hover {
  background-color: #f1f1f1;
}
