.cardRoot {
    display: flex;  
    flex-direction: column;          
    justify-content: center;    
    align-items: center;         
    width: 204px;
    height: 300px;


    --background-inner-color: #00b7ff;
    /* background: 
      url("/src/assets/images/crackedPattern.svg") no-repeat center, 
      linear-gradient(0deg, hsla(134, 95%, 14%, 1) 0%, hsla(105, 77%, 59%, 1) 100%); 

    
    background-position: center, center top; */
    /* background: hsla(0, 0%, 0%, 1); */

    /* background: hsla(134, 95%, 14%, 1);

    background: linear-gradient(0deg, hsla(134, 95%, 14%, 1) 0%, hsla(105, 77%, 59%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(134, 95%, 14%, 1) 0%, hsla(105, 77%, 59%, 1) 100%);
    
    background: -webkit-linear-gradient(90, hsla(134, 95%, 14%, 1) 0%, hsla(105, 77%, 59%, 1) 100%);
     */
    /* filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#024712", endColorstr="#70E748", GradientType=1 );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#000000", GradientType=1 ); */
    /* background-size: 12%;
    background-image: url('/src/assets/images/rareTexture.svg'); */
    /* background-color: rgb(255, 0, 0); */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin: 10px;
    border: 3px solid #000000;

    /* background-image: url("/src/assets/images/crackedPattern.svg"); */
    /* background-size: 70%; */

  }

.cardRoot.uncommon {
  background: 
    url("/src/assets/images/crackedPattern.svg") no-repeat center, 
    linear-gradient(0deg, hsla(134, 95%, 14%, 1) 0%, hsla(105, 77%, 59%, 1) 100%); 

  
  background-position: center, center top;
}

.cardRoot.rare {
  background: 
    url("/src/assets/images/crackedPattern.svg") no-repeat center, 
    linear-gradient(0deg, rgb(0, 36, 121) 0%, rgb(75, 129, 255) 100%); 
  }
  
.cardInner {
  display: flex;
  flex-direction: column;
  width: 92%;
  height: 75%;
  align-items: center;  
  /* align-items: center; */
  /* align-self: center; */
}

.cardInner.rare {
  background-color: var(--background-inner-color);
}

.cardRoot:hover {
  transform: scale(1.1);
}
  