.playCostRoot {
  position: absolute;
  width: 19%;
  aspect-ratio: 1/1;
  height: auto;
  bottom: 1.0%;  
  right: 4%;

  display: flex;
  justify-content: center; 
  align-items: center;
  font-size: 10cqw;
  box-sizing: content-box;
}

.playCostRoot .elixirImage {
  height: 100%;
  width: auto;
}

.elixirImage {
  position: absolute;
  top: 5%;
}

.playCost {
    align-items: center;
    font-family: 'robotoRegular';
    position: absolute;
    left: 35%;
    bottom: 8%;
}