.playCostRoot {
  position: absolute;
  width: 18%;
  aspect-ratio: 1/1;
  height: auto;
  bottom: 1.0%;  
  right: 4%;
  /* background-color: #f0f0f0; */
  /* border-radius: 50%; */
  display: flex;
  justify-content: center; 
  align-items: center;
  /* border: 1px solid rgb(206, 4, 4); */
  font-size: 7cqw;
  box-sizing: content-box;
}

.playCostRoot .elixirImage {
  height: 100%;
  width: auto;
}

.playCost {
    align-items: center;
    font-family: 'robotoRegular';
    position: absolute;
    left: 39%;
    bottom: 19%;
}