.sendFriendRequestContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.friendRequestInput {
  flex: 1;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.sendButton {
  height: 25px;
  width: 25px;
  cursor: pointer;
}
