.friendRequestsRoot {
  height: 100%;
  width: 100%;
  overflow-y: auto; 
  overflow-x: hidden; 
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.friendRequestsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px; /* Additional gap between items */
}


.friendRequestItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 3px;
  gap: 5px;
  margin-bottom: 20px; 
  width: 100%;
  margin: 0 auto;
  background-color: #dadada;
}


.actionButtons {
  display: flex;
  gap: 10px;
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.iconButton:hover {
  transform: scale(1.2);
}

.acceptIcon {
  width: 20px;
  height: 20px;
}

.rejectIcon {
  width: 20px;
  height: 20px;
}
