.packWagerRoot {
    position: relative;
}

.addPackIcon {
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 6px;
    right: 8px;
    cursor: pointer;
    transition: transform 0.3s ease; 
}

.packWagerRoot:hover .addPackIcon {
    transform: scale(1.15);
}
