@font-face {
  font-family: "pressStart";
  src: url("/src/assets/fonts/Bangers-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

:root {
    --primary-background-color: #182f4c;
    --login-font: "pressStart";
    box-sizing:border-box;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
